@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 23, 34);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;


}

body {
  background-image: url(../public/assets/bg.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

.neumorphismShadow {
  box-shadow:  12px 14px 22px #8a9199,
             -14px -14px 22px #ffffff
}
