@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 23, 34);
  font-family: "Poppins", sans-serif;


}

body {
  background-image: url(../public/assets/bg.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

.neumorphismShadow {
  box-shadow:  12px 12px 22px #8a9199,
             -12px -12px 22px #ffffff

}

.neumorphismShadow:active {
  animation: press 0.2s 1 linear;
  background: linear-gradient(145deg, #b7c0cb, #d9e4f1);
  box-shadow:  12px 12px 28px #8a9199,
             -12px -12px 28px #ffffff
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
